.user-component {
    display: flex;
    justify-content: space-between;
}

.user-component
.user-component__column:first-child {
    display:flex;
    align-items: center;
}

.user-component__avatar {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    align-items: center;
}

.user-component__title {
    font-size: 22px;
    font-weight: 600;
    margin-left: 10px;
}

.user-component__subtitle {
    margin-top: 8px;
    margin-left: 10px;
    font-size: 16px;
    color: black;
}

.user-component__avatar--xl {
    width:80px;
    height:80px;
}

.user-component__avatar--sm {
    width:60px;
    height:60px;
    border-radius: 25px;
}

.friends-screen {
    padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
    margin-top: 25px;
    border-top: 1px solid black;
    padding-top: 15px;
}

.friends-screen__channel-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: black;
}

.user-component__title--not-bold {
    font-weight: 400;
}

.user-component__time {
    margin-bottom: 10px;
    display: block;
}
